.sidenav {
    background-color:rgb(45, 65, 182);
}

.sidenav a {
    color: #FFF;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding:16px;
    background-color:#FFF;
}

.container {
    color: black;
}
